AGENT_TOKEN=changeme
AGENT_NAME=
AGENT_SERVICES=ssh,cron
AGENT_DASHBOARD_URL=http://dashboard-host:8000
AGENT_ENROLL_SECRET=changeme-enroll
AGENT_ENROLL_ENABLED=true
AGENT_ENROLL_RETRY_SECONDS=10
AGENT_TOKEN_REFRESH_ENABLED=true
AGENT_TOKEN_REFRESH_SECONDS=3600
AGENT_TOKEN_FILE=agent_token.txt
